<!-- partials/header.html -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #64a6bd;">
  <div class="container">
    <a class="navbar-brand text-white fw-bold" href="index.html">Barakah Dental Supplies</a>

    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link text-white" data-nav href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" data-nav href="products.html">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" data-nav href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" data-nav href="blog.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" data-nav href="contact.html">Contact</a>
        </li>

        <li class="nav-item ms-3">
          <a class="btn btn-light px-3" data-nav href="login.html">Login</a>
        </li>

        <li class="nav-item ms-2">
          <a class="btn btn-outline-light px-3" data-nav href="cart.html">
            Cart <span id="cart-count" class="badge bg-danger ms-2">0</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
